@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

$primaryColor: rgb(118, 201, 179);  /* rgb(118, 201, 179) */
$white: #fff;
$black: #333333;
$darkBlue: #003866;
$lightGray: #ebeaea; 
$lightBg: #e1efe9; /* rgb(225, 239, 233) */
$darkGray: #2d3436;
$padding: 80px 0;
$font: 16px;
$fontFamily: 'Montserrat', sans-serif;
$transition: .4s ease;

/**********
mixins
**********/
@mixin bgrImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin btn {
    padding: 8px 20px;
    background: $white;
    color: $black;
    border: 1px solid $darkBlue;
    font-size: 1rem;    
    border-radius: 10px;
    letter-spacing: 1.6px;    
    box-shadow: 4px 4px 0px $darkBlue;
    &:hover {        
        background: transparent;
        color: $black;
        font-weight: 600;
        cursor: pointer;
        transition: $transition;
        box-shadow: 4px 4px 0px $darkBlue;
    }
}
@mixin contact {
    padding: 10px;
    background: transparent;
    border: 1px solid rgba(255,255,255,.2);
    color: $lightGray;
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 20px;
}
/**********
Basic styles
**********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: $font;
    font-family: $fontFamily;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.customContainer {
    width: 80%;
    margin: 0 auto;   
    @media only screen and (max-width:768px) {
        width: 90%;
    }
    @media only screen and (min-width:769px) and (max-width:1366px) {
        width: 85%;
    }
}
h2 {
    text-align: center;
    font-size: 3rem;
    color: $primaryColor;
    font-weight: 600;
    text-shadow: 1px 1px 0px #236351;            
    @media only screen and (max-width:768px) {
        font-size: 2.2rem;
    }
}
h2::after {
    display: block;
    content: "";
    width: 100px;
    height: 8px;
    background: $primaryColor;
    margin: 10px auto 30px auto;
    box-shadow: 1px 1px 0px #236351;                
    @media only screen and (max-width:768px) {
        height: 5px;
    }
}
.headers {
    background-image: linear-gradient(rgba( 70, 68, 67,.6), rgba( 70, 68, 67,.6)), url(img/headerServices1.jpg);
    height: 60vh;
}
hr {
    width: 100%;
    height: 1px;
    background: $primaryColor;
    margin: 60px auto;
    box-shadow: 1px 1px 0px #236351;
    @media only screen and (max-width:768px) {
        margin-bottom: 30px;
    }
}
/**********
nav
**********/
nav {
    
    .logo {
        display: flex;
        align-items: center;
        .navbar-brand {
            img {
                width: 100%;
                @media only screen and (max-width:1024px) {
                    width: 80%;
                }
            }         
        }
        h3 {
            font-size: 1.6rem;
            color: $white;
            font-weight: 600;
            @media only screen and (max-width:1366px) {
                font-size: 1.2rem;
            }
            span {
                color: $primaryColor;
            }
        }
    }
    ul {
        a {
            color: $white !important;
            font-size: 1.2rem;
            letter-spacing: 2px;
            text-shadow: 1px 1px 0px #236351;
            font-weight: 600;
            &:hover {
            color: $primaryColor !important;
            transition: $transition;
            }            
            @media only screen and (max-width:1366px) {
                font-size: 1rem;
            }
        }
        .active {
            color: $primaryColor !important;
        }
    }
}
.navFixed {
        background-color: rgba(255, 255, 255, .2);
    }
.stickyAdd {
    background: rgba( 235, 234, 234,.9);  /* rgba(225,239,233, .9) ; */
    padding: 5px;
    .logo {
        padding-left: 10px;
        .navbar-brand {
            img {
                width: 80% !important;
            }
        }
        h3 {
            color: $black !important;
            font-size: 1.3rem !important;
        }
    }
    .nav-link {
        color: $black !important;
        font-size: 1rem !important;
        font-weight: 600;
        text-shadow: none;
        padding-left: 10px;
    }    
}

/**********
header
**********/
header {
    background-image: linear-gradient(rgba( 70, 68, 67,.6), rgba( 70, 68, 67,.2)), url(img/header.jpg);
    @include bgrImg;
    clip-path: polygon(0 0, 100% 0%, 93% 91%, 0 83%);
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    color: $white;
    @media only screen and (max-width:768px) {
        height: 90vh;
    }
    .customContainer {
        display: flex;
        align-items: center;   
        h1 {
            font-size: 3rem;
            font-weight: 600;
            @media only screen and (max-width:768px) {
                font-size: 1.6rem;
                padding-top: 110px;
                text-shadow: 1px 1px 0px #236351;
            }
        }
    }
}

/**********
services
**********/
.services {
    padding: $padding;            
    @media only screen and (max-width:1024px) {
        padding: 20px 0 0 0;
    }
    .customContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        article {
            flex: 0 0 30%;
            background:#faf8f8;
            border-radius: 10px;
            margin-bottom: 40px;
            text-align: center;            
            @media only screen and (max-width:1024px) {
                flex: 0 0 100%;
            }
            @media only screen and (min-width:1025px) and (max-width:1366px) {
                flex: 0 0 48%;
            }
            .text {
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                min-height: 300px;
                p {
                    margin-bottom: 35px;
                }
                button {
                    @include btn;
                    background: transparent;
                    left: 33%;
                    bottom: 20px;
                    a {
                        color: $black;
                        &:hover {
                            text-decoration: none;
                        }
                        
                    }
                }
                h3 {                                
                    @media only screen and (max-width:768px) {
                        font-size: 1.5rem;
                    }
                }
            }
            .icon {
                padding: 20px;
                color: $white;
                border-radius: 10px 10px 0 0;           
                min-height: 230px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;            
                @media only screen and (max-width:768px) {
                    padding: 0;
                }
                img {
                    width: 50%;
                }
            }            
        }
        article:nth-child(1) .icon {
            img {
                width: 55%;
            }
        }
        article:nth-child(3) .icon {
            img {
                width: 42%;
            }
        }
        article:nth-child(5) .icon {
            img {
                width: 60%;
            }
        }
    }    
}

/**********
mission
**********/
.mission {    
    background: linear-gradient( to top, rgba(118, 201, 179, .9), rgba(225,239,233, .5));
    padding: 60px 30px;
    .customContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        article:first-child {
            flex: 10%;
            text-align: center;                        
            @media only screen and (max-width:768px) {
                flex: 0 0 100%;
            }
            @media only screen and (max-width:1024px) {
                flex: 0 0 45%;
                margin: 0 auto;
            }
            img {
                width: 60%;            
                @media only screen and (max-width:768px) {
                    width: 40%;
                }
            }
        }
        article:last-child {            
            flex: 0 0 85%;                        
            @media only screen and (max-width:1024px) {
                flex: 0 0 100%;
            }
            p {
                font-size: 1.2rem;
                text-align: justify;
                color: $black;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
}

/**********
technologies
**********/
.technologies {
    padding: $padding;
    @media only screen and (max-width:768px) {
        padding: 60px 0 0 0;
    }
    .customContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        article {
            align-self: center;
            flex: 0 0 18%;
            @media only screen and (max-width:768px) {
                flex: 0 0 50%;
                padding-bottom: 50px;
            }
            img {
                width: 40%;
            }
        }
        article:first-child {
            img {
                width: 30%;
            }
        }
    }
}

/**********
footer
**********/
footer {
    background: $darkGray;
    padding: 80px 0 40px 0;
    .customContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article { 
            color: $white;
            line-height: 2;
            h4 {
                font-size: 1.6rem;                
                font-weight: 600;
            }
            img {
                width: 5%;
            }
            span {
                font-size: 1.2rem;
            }
            li {
                a {
                    color: $white;
                }
            }
            i {
                display: block;  
                line-height: 2;
            }
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                input {
                    @include contact;
                    flex: 0 0 49%;
                    @media only screen and (max-width:768px) {
                        flex: 0 0 100%;
                    }
                }
                textarea {
                    @include contact;
                    flex: 0 0 100%;
                }
                button {
                    @include btn;
                    @media only screen and (max-width:768px) {
                        margin: 0 auto;
                    }
                    &:hover {
                        background: $white;
                    }
                }
            }
        }
        article:first-child,
        article:nth-child(2){
            @media only screen and (max-width:768px) {
                flex: 0 0 100%;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        article:last-child {
            flex: 0 0 45%;
            @media only screen and (max-width:768px) {
                flex: 0 0 100%;
            }
        }
    }
    .copy {
        padding-top: 40px;
        color: $white;
        text-align: center;
        font-size: .9rem;
        img {
            width: 60px;
            margin-left: 10px;
        }
    }
}

/**********
servicesPage
**********/
.servicesPage {
    padding: $padding;
    .customContainer {
        display: flex;
        justify-content: space-between;
        .allServices {
            flex: 0 0 73%;
            @media only screen and (max-width:768px) {
                flex: 0 0 100%;
            }
            @media only screen and (min-width:769px) and (max-width:1366px) {
                flex: 0 0 70%;
            }
        article {
            h4 {
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .serviceFlex {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                img {
                    width: 30%;
                    flex: 0 0 23%;
                    @media only screen and (max-width:768px) {
                        flex: 0 0 70%;
                        margin: 0 auto;
                        margin-bottom: 30px;
                    }
                }
                .serviceDescription {
                    flex: 0 0 63%;
                    text-align: justify;
                    .accordion {
                        margin-bottom: 20px;
                    }
                    p {
                        a {
                            font-style: italic;
                            color: $black;
                        }
                    }
                    button {
                        color: $black;
                        font-weight: 600;
                    }
                    @media only screen and (max-width:768px) {
                        flex: 0 0 100%;
                        order: 3;
                    }
                        @media only screen and (min-width:769px) and (max-width:1366px) {
                        font-size: .9rem;
                    }
                }
            }       
        }
    }
        aside {
            flex: 0 0 23%;
            a {
                display: block;
                padding: 8px 20px;
                margin-bottom: 15px;
                background: rgba(225, 239, 233, .5);
                color: $black;
                font-size: .8rem;   
                border-radius: 10px;
                box-shadow: 4px 4px 0px $primaryColor;
                    @media only screen and (max-width:1366px) {
                        padding: 5px 10px;
                    }
                &:hover {        
                    text-decoration: none;
                    cursor: pointer;
                    transition: $transition;
                    box-shadow: 4px 4px 0px #74868b;
                }
            }
        }
    }
    
}
.stickyAside {
    display: none;
}
.stuck {
    display:block;
    position:fixed;
    top:80px; 
    right: 10%;
    @media only screen and (max-width:768px) {
        display: none;
    }
}

.aboutMPP {
    padding: $padding;
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
    }
    ul {
        display: flex;
        article {
            flex: 0 0 25%;
            i {
                color: $primaryColor;
                margin-right: 10px;
            }  
        }
    }
}




















