@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
/* rgb(118, 201, 179) */
/* rgb(225, 239, 233) */
/**********
mixins
**********/
/**********
Basic styles
**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.customContainer {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .customContainer {
      width: 90%; } }
  @media only screen and (min-width: 769px) and (max-width: 1366px) {
    .customContainer {
      width: 85%; } }

h2 {
  text-align: center;
  font-size: 3rem;
  color: #76c9b3;
  font-weight: 600;
  text-shadow: 1px 1px 0px #236351; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 2.2rem; } }

h2::after {
  display: block;
  content: "";
  width: 100px;
  height: 8px;
  background: #76c9b3;
  margin: 10px auto 30px auto;
  box-shadow: 1px 1px 0px #236351; }
  @media only screen and (max-width: 768px) {
    h2::after {
      height: 5px; } }

.headers {
  background-image: linear-gradient(rgba(70, 68, 67, 0.6), rgba(70, 68, 67, 0.6)), url(img/headerServices1.jpg);
  height: 60vh; }

hr {
  width: 100%;
  height: 1px;
  background: #76c9b3;
  margin: 60px auto;
  box-shadow: 1px 1px 0px #236351; }
  @media only screen and (max-width: 768px) {
    hr {
      margin-bottom: 30px; } }

/**********
nav
**********/
nav .logo {
  display: flex;
  align-items: center; }
  nav .logo .navbar-brand img {
    width: 100%; }
    @media only screen and (max-width: 1024px) {
      nav .logo .navbar-brand img {
        width: 80%; } }
  nav .logo h3 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600; }
    @media only screen and (max-width: 1366px) {
      nav .logo h3 {
        font-size: 1.2rem; } }
    nav .logo h3 span {
      color: #76c9b3; }
nav ul a {
  color: #fff !important;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0px #236351;
  font-weight: 600; }
  nav ul a:hover {
    color: #76c9b3 !important;
    transition: 0.4s ease; }
  @media only screen and (max-width: 1366px) {
    nav ul a {
      font-size: 1rem; } }

.navFixed {
  background-color: rgba(255, 255, 255, 0.2); }

.stickyAdd {
  background: rgba(235, 234, 234, 0.9);
  /* rgba(225,239,233, .9) ; */
  padding: 5px; }
  .stickyAdd .logo {
    padding-left: 10px; }
    .stickyAdd .logo .navbar-brand img {
      width: 80% !important; }
    .stickyAdd .logo h3 {
      color: #333333 !important;
      font-size: 1.3rem !important; }
  .stickyAdd .nav-link {
    color: #333333 !important;
    font-size: 1rem !important;
    font-weight: 600;
    text-shadow: none;
    padding-left: 10px; }

/**********
header
**********/
header {
  background-image: linear-gradient(rgba(70, 68, 67, 0.6), rgba(70, 68, 67, 0.2)), url(img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0%, 93% 91%, 0 83%);
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  color: #fff; }
  @media only screen and (max-width: 768px) {
    header {
      height: 90vh; } }
  header .customContainer {
    display: flex;
    align-items: center; }
    header .customContainer h1 {
      font-size: 3rem;
      font-weight: 600; }
      @media only screen and (max-width: 768px) {
        header .customContainer h1 {
          font-size: 1.6rem;
          padding-top: 110px;
          text-shadow: 1px 1px 0px #236351; } }

/**********
services
**********/
.services {
  padding: 80px 0; }
  @media only screen and (max-width: 1024px) {
    .services {
      padding: 20px 0 0 0; } }
  .services .customContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .services .customContainer article {
      flex: 0 0 30%;
      background: #faf8f8;
      border-radius: 10px;
      margin-bottom: 40px;
      text-align: center; }
      @media only screen and (max-width: 1024px) {
        .services .customContainer article {
          flex: 0 0 100%; } }
      @media only screen and (min-width: 1025px) and (max-width: 1366px) {
        .services .customContainer article {
          flex: 0 0 48%; } }
      .services .customContainer article .text {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 350px; }
        .services .customContainer article .text p {
          margin-bottom: 35px; }
        .services .customContainer article .text button {
          padding: 8px 20px;
          background: #fff;
          color: #333333;
          border: 1px solid #003866;
          font-size: 1rem;
          border-radius: 10px;
          letter-spacing: 1.6px;
          box-shadow: 4px 4px 0px #003866;
          background: transparent;
          left: 33%;
          bottom: 20px; }
          .services .customContainer article .text button:hover {
            background: transparent;
            color: #333333;
            font-weight: 600;
            cursor: pointer;
            transition: 0.4s ease;
            box-shadow: 4px 4px 0px #003866; }
        @media only screen and (max-width: 768px) {
          .services .customContainer article .text h3 {
            font-size: 1.5rem; } }
      .services .customContainer article .icon {
        padding: 20px;
        color: #fff;
        border-radius: 10px 10px 0 0;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        @media only screen and (max-width: 768px) {
          .services .customContainer article .icon {
            padding: 0; } }
        .services .customContainer article .icon img {
          width: 50%; }
    .services .customContainer article:nth-child(1) .icon img {
      width: 55%; }
    .services .customContainer article:nth-child(3) .icon img {
      width: 42%; }
    .services .customContainer article:nth-child(5) .icon img {
      width: 60%; }

/**********
mission
**********/
.mission {
  background: linear-gradient(to top, rgba(118, 201, 179, 0.9), rgba(225, 239, 233, 0.5));
  padding: 60px 30px; }
  .mission .customContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .mission .customContainer article:first-child {
      flex: 10%;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        .mission .customContainer article:first-child {
          flex: 0 0 100%; } }
      @media only screen and (max-width: 1024px) {
        .mission .customContainer article:first-child {
          flex: 0 0 45%;
          margin: 0 auto; } }
      .mission .customContainer article:first-child img {
        width: 60%; }
        @media only screen and (max-width: 768px) {
          .mission .customContainer article:first-child img {
            width: 40%; } }
    .mission .customContainer article:last-child {
      flex: 0 0 85%; }
      @media only screen and (max-width: 1024px) {
        .mission .customContainer article:last-child {
          flex: 0 0 100%; } }
      .mission .customContainer article:last-child p {
        font-size: 1.2rem;
        text-align: justify;
        color: #333333;
        margin-bottom: 20px;
        margin-top: 20px; }

/**********
technologies
**********/
.technologies {
  padding: 80px 0; }
  @media only screen and (max-width: 768px) {
    .technologies {
      padding: 60px 0 0 0; } }
  .technologies .customContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .technologies .customContainer article {
      align-self: center;
      flex: 0 0 18%; }
      @media only screen and (max-width: 768px) {
        .technologies .customContainer article {
          flex: 0 0 50%;
          padding-bottom: 50px; } }
      .technologies .customContainer article img {
        width: 40%; }
    .technologies .customContainer article:first-child img {
      width: 30%; }

/**********
footer
**********/
footer {
  background: #2d3436;
  padding: 80px 0 40px 0; }
  footer .customContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .customContainer article {
      color: #fff;
      line-height: 2; }
      footer .customContainer article h4 {
        font-size: 1.6rem;
        font-weight: 600; }
      footer .customContainer article img {
        width: 5%; }
      footer .customContainer article span {
        font-size: 1.2rem; }
      footer .customContainer article li a {
        color: #fff; }
      footer .customContainer article i {
        display: block;
        line-height: 2; }
      footer .customContainer article form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        footer .customContainer article form input {
          padding: 10px;
          background: transparent;
          border: 1px solid rgba(255, 255, 255, 0.2);
          color: #ebeaea;
          font-size: 1rem;
          font-family: sans-serif;
          margin-bottom: 20px;
          flex: 0 0 49%; }
          @media only screen and (max-width: 768px) {
            footer .customContainer article form input {
              flex: 0 0 100%; } }
        footer .customContainer article form textarea {
          padding: 10px;
          background: transparent;
          border: 1px solid rgba(255, 255, 255, 0.2);
          color: #ebeaea;
          font-size: 1rem;
          font-family: sans-serif;
          margin-bottom: 20px;
          flex: 0 0 100%; }
        footer .customContainer article form button {
          padding: 8px 20px;
          background: #fff;
          color: #333333;
          border: 1px solid #003866;
          font-size: 1rem;
          border-radius: 10px;
          letter-spacing: 1.6px;
          box-shadow: 4px 4px 0px #003866; }
          footer .customContainer article form button:hover {
            background: transparent;
            color: #333333;
            font-weight: 600;
            cursor: pointer;
            transition: 0.4s ease;
            box-shadow: 4px 4px 0px #003866; }
          @media only screen and (max-width: 768px) {
            footer .customContainer article form button {
              margin: 0 auto; } }
          footer .customContainer article form button:hover {
            background: #fff; }
    @media only screen and (max-width: 768px) {
      footer .customContainer article:first-child,
      footer .customContainer article:nth-child(2) {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 30px; } }
    footer .customContainer article:last-child {
      flex: 0 0 45%; }
      @media only screen and (max-width: 768px) {
        footer .customContainer article:last-child {
          flex: 0 0 100%; } }
  footer .copy {
    padding-top: 40px;
    color: #fff;
    text-align: center;
    font-size: .9rem; }
    footer .copy img {
      width: 60px;
      margin-left: 10px; }

/**********
servicesPage
**********/
.servicesPage {
  padding: 80px 0; }
  .servicesPage .customContainer {
    display: flex;
    justify-content: space-between; }
    .servicesPage .customContainer .allServices {
      flex: 0 0 80%; }
      .servicesPage .customContainer .allServices article h4 {
        font-size: 1.6rem;
        font-weight: 600; }
      .servicesPage .customContainer .allServices article .serviceFlex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between; }
        .servicesPage .customContainer .allServices article .serviceFlex img {
          width: 40%;
          flex: 0 0 30%; }
          @media only screen and (max-width: 768px) {
            .servicesPage .customContainer .allServices article .serviceFlex img {
              flex: 0 0 70%;
              margin: 0 auto;
              margin-bottom: 30px; } }
        .servicesPage .customContainer .allServices article .serviceFlex p {
          flex: 0 0 58%;
          text-align: justify; }
          @media only screen and (max-width: 768px) {
            .servicesPage .customContainer .allServices article .serviceFlex p {
              flex: 0 0 100%;
              order: 3; } }
    .servicesPage .customContainer aside {
      flex: 0 0 16%; }
      .servicesPage .customContainer aside a {
        display: block;
        padding: 8px 20px;
        margin-bottom: 15px;
        background: rgba(225, 239, 233, 0.5);
        color: #333333;
        font-size: .9rem;
        border-radius: 10px;
        box-shadow: 4px 4px 0px #76c9b3; }
        .servicesPage .customContainer aside a:hover {
          text-decoration: none;
          cursor: pointer;
          transition: 0.4s ease;
          box-shadow: 4px 4px 0px #74868b; }

.aboutMPP {
  padding: 80px 0; }
  .aboutMPP h2 {
    font-size: 2rem; }
  .aboutMPP p {
    font-size: 1.1rem; }
  .aboutMPP ul {
    display: flex; }
    .aboutMPP ul article {
      flex: 0 0 25%; }
      .aboutMPP ul article i {
        color: #76c9b3;
        margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
